.blog-slider {
    padding: vw(80px) 0 vw(80px) vw(120px);
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "title buttons"
    "slider slider";
    gap: vw(40px);
    overflow: hidden;

    @include HD {
        padding: vwh(80px) 0 vwh(80px) vwh(45px);
        gap: vwh(40px);
    }
    @include Tablet {
        padding: vwt(40px) 0 vwt(40px) vwt(16px);
        gap: vwt(32px);
        grid-template-columns: 1fr;
        grid-template-areas:
    'title'
    'slider'
    'buttons';
    }
    @include Mobile {
        padding: vwm(40px) 0 vwm(40px) vwm(16px);
        gap: vwm(32px);
    }

    &__title {
        grid-area: title;
    }

    &__buttons {
        padding-right: vw(120px);
        display: flex;
        gap: vw(12px);
        justify-self: end;
        align-items: center;
        grid-area: buttons;

        & .btn:not(:last-child) {
            @include spacing(width, 48px);
        }

        @include HD {
            padding-right: vwh(45px);
            gap: vwh(12px);
        }
        @include Tablet {
            padding-right: vwt(16px);
            width: 100%;
            justify-self: start;
            gap: 0;
        }
        @include Mobile {
            padding-right: vwm(16px);
        }
    }

    &__button-link {
        @include Tablet {
            width: 100%;

            background: var(--gray-lighter);
            color: var(--gray-darker);

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: var(--color1-lighter);
                    color: var(--gray-darker);
                }
            }

            &:active {
                background: var(--color1-light) !important;
                color: var(--gray-darker) !important;
            }
        }
    }

    &__slider-wrap {
        grid-area: slider;
        overflow: hidden;
        height: fit-content;
    }

    &__slider {
        overflow: hidden;
        @include spacing(border-top-left-radius, 12px);
        @include spacing(border-bottom-left-radius, 12px);
    }

    &__button-prev,
    &__button-next {
        @include Tablet {
            display: none;
        }
    }
}