.how-works {
    padding: vw(110px) 0;

    @include HD {
        padding: vwh(90px) 0;
    }
    @include Tablet {
        padding: vwt(60px) 0;
    }
    @include Mobile {
        padding: vwm(60px) 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: vw(60px);

        @include HD {
            gap: vwh(40px);
        }
        @include Tablet {
            gap: vwt(24px);
        }
        @include Mobile {
            gap: vwm(24px);
        }
    }

    &__title {
        width: vw(688px);

        @include HD {
            width: vwh(628px);
        }
        @include Tablet {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        @include spacing(gap, 40px);


        @include Tablet {
            flex-direction: column-reverse;
        }
        @include Mobile {
            gap: vwm(24px);
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        @include spacing(gap, 40px);
        width: vw(952px);

        @include HD {
            width: vwh(618px);
        }
        @include Tablet {
            width: 100%;
        }
        @include Mobile {
            gap: vwm(32px);
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        @include spacing(gap, 20px);

        @include Mobile {
            gap: vwm(12px);
            flex-direction: column;
        }

        &--ls {
            width: vw(547px);
            @include spacing(gap, 20px);
            display: flex;
            flex-direction: column;

            @include HD {
                width: vwh(348px);
            }
            @include Tablet {
                width: vwt(466px);
            }
            @include Mobile {
                width: 100%;
                gap: vwm(12px);
            }
        }
        &--rs {
            width: vw(385px);
            height: vw(412px);

            &.second {
                height: vw(260px);
            }
            &.third {
                height: vw(260px);
            }

            @include HD {
                width: vwh(250px);
                height: vwh(428px);

                &.second {
                    width: vwh(250px);
                    height: vwh(250px);
                }
                &.third {
                    width: vwh(250px);
                    height: vwh(250px);
                }
            }
            @include Tablet {
                width: vwt(250px);
                height: vwt(232px);

                &.second {
                    width: vwt(250px);
                    height: vwt(250px);
                }
                &.third {
                    width: vwt(250px);
                    height: vwt(250px);
                }
            }
            @include Mobile {
                width: 100%;
                height: vwm(300px);

                &.second {
                    width: 100%;
                    height: vwm(250px);
                }
                &.third {
                    width: 100%;
                    height: vwm(250px);
                }
            }

            & .picture-custom {
                width: 100%;
                height: 100%;
            }

            video {
                width: 100%;
                height: 100%;
                @include spacing(border-radius, 40px);
                border: vw(2px) solid;
                color: var(--color1-light);

                @include Tablet {
                    @include spacing(border-radius, 20px);
                }
            }
        }

        &:nth-child(2) {
            flex-direction: row-reverse;

            @include Mobile {
                flex-direction: column-reverse;
            }
        }
        &:nth-child(3) {
            align-items: flex-end;
        }
    }

    &__sticky {
        position: sticky;
        @include spacing(top, 80px);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: vw(24px);

        @include HD {
            gap: vwh(24px);
        }
        @include Tablet {
            position: relative;
            top: 0;
            gap: vwt(20px);
        }
        @include Mobile {
            gap: vwm(12px);
        }

        &-head {
            &--title {
                @include h3;
                color: var(--gray-black);
                text-align: center;
                @include spacing(max-width, 420px);

                @include Tablet {
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                    max-width: none;
                }
            }
        }
        &-block {
            padding: vw(40px);
            @include spacing(border-radius, 40px);
            @include spacing(gap, 20px);
            background: var(--color1-lighter);
            display: flex;
            flex-direction: column;

            @include HD {
                padding: vwh(40px);
            }
            @include Tablet {
                padding: vwt(32px);
                @include spacing(border-radius, 20px);
            }
            @include Mobile {
                padding: vwm(16px);
                gap: vwm(12px);
            }

            & .how-works__sticky-head--title {
                display: none;
                opacity: 0;
                visibility: hidden;

                @include Tablet {
                    display: block !important;
                    opacity: 1 !important;
                    visibility: visible !important;
                    text-align: left;
                    @include h4;
                }
            }

            &--video {
                width: 100%;
                height: vw(340px);
                @include spacing(border-radius, 20px);

                @include HD {
                    height: vwh(300px);
                }
                @include Tablet {
                    height: vwt(368px);
                    @include spacing(border-radius, 12px);
                }
                @include Mobile {
                    height: vwm(170px);
                }

                video {
                    @include spacing(border-radius, 20px);
                    width: 100%;
                    height: 100%;
                    border: none;
                }
            }

            &--text {
                background: var(--gray-white);
                border-radius: vw(20px);
                padding: vw(20px);
                @include t2;
                color: var(--gray-darker);

                @include HD {
                    border-radius: vwh(20px);
                    padding: vwh(20px);
                }
                @include Tablet {
                    @include spacing(border-radius, 12px);
                    padding: vwt(12px);
                }
                @include Mobile {
                    padding: vwm(12px);
                }
            }
        }
    }
}