.burger-modal {
    width: 100%;
    max-width: vw(560px);
    height: auto;
    max-height: 100dvh;
    @include border-r(28px, 28px, 0, 0);
    @include hide-scrollbar;
    padding: 0;
    transition: transform 0s;

    @include Tablet {
        max-width: vwt(500px);
        height: 100vh;
        top: 0;
        right: 0;
    }

    @include Mobile {
        padding: vwm(8px) vwm(12px) vwm(12px);
        left: 0;
        top: 0;
        transform: none;
        border-radius: 0;
        max-width: unset;
        width: 100vw;
        height: 100dvh;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @include spacing(border-width, 1px);
        border-bottom: solid var(--gray-light);

        @include Tablet {
            padding: vwt(12px) vwt(16px);
        }
        @include Mobile {
            padding: vwm(12px) vwm(16px);
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow-y: scroll;
        @include spacing(padding-left, 16px);
        @include spacing(padding-right, 16px);
    }

    &__links {
        display: flex;
        flex-direction: column;
        @include spacing(padding-top, 12px);
        @include spacing(padding-bottom, 12px);
        @include spacing(gap, 12px);
    }

    &__link {
        padding-left: 0;
        padding-right: 0;

        span {
            @include spacing(padding-top, 8px);
            @include spacing(padding-bottom, 8px);
            display: block;
        }
    }

    &__btns {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        @include spacing(gap, 20px);
        @include spacing(padding-top, 20px);
        @include spacing(padding-bottom, 40px);

        & .btn {
            width: 100%;
            display: flex !important;
            opacity: 1 !important;
            visibility: visible !important;
        }

        &--socials {
            display: flex;
            flex-direction: row;
            justify-content: center;
            @include spacing(gap, 8px);
        }
    }
}