.error-modal {
    width: 100%;
    max-width: vw(560px);
    padding: vw(32px);
    height: auto;
    max-height: 100dvh;
    @include border-r(12px, 12px, 0, 0);
    @include hide-scrollbar;

    @include HD {
        max-width: vwh(500px);
        padding: vwh(32px);
    }
    @include Tablet {
        max-width: 100%;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        padding: vwt(8px) vwt(12px) vwt(12px);
    }
    @include Mobile {
        height: 100%;
        padding: vwm(8px) vwm(12px) vwm(12px);
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        @include gap(20px);
    }

    &__button-close {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__top {
        display: flex;
        flex-direction: row;
        max-width: vw(438px);
        @include gap(12px);

        @include HD {
            max-width: vwh(436px);
        }
        @include Tablet {
            flex-direction: column;
            max-width: unset;
            padding-top: vwt(20px);
            margin-top: vwt(58px);
            border-top: solid var(--gray-lighter);
            @include border-w(2px);
        }
        @include Mobile {
            padding-top: vwm(20px);
            margin-top: vwm(58px);
        }
    }

    &__icon {
        svg {
            flex-shrink: 0;
            @include icon(56px);
            @include spacing(padding, 12px);
            background: var(--error-light);
            color: var(--error-dark);
            border-radius: 50%;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        @include gap(12px);
    }

    &__title {
        color: var(--gray-darker);
        @include h4;
    }

    &__desc {
        max-width: 31ch;
        color: var(--gray-dark);
        @include t2;
    }

    &__body {
        display: flex;
        overflow: hidden auto;
        flex: 1 1 auto;
        align-items: flex-end;
        @include border-r(4px);
    }
}