@font-face {
    font-family: 'Commissioner';
    src: url('/assets/fonts/Commissioner/Commissioner-VF.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Commissioner';
    src: url('/assets/fonts/Commissioner/Commissioner-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('/assets/fonts/NunitoSans/NunitoSans.ttf') format('truetype');
    font-weight: 400 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('/assets/fonts/NunitoSans/NunitoSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}